<form >
    <h1>REMOVER LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="livro.titulo" type="text" name="titulo" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do autor</mat-label>
        <textarea matInput [(ngModel)]="livro.autor" type="text" name="autor" disabled></textarea>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.testo" type="text" name="testo" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()"  class="mat-elevation-z8" mat-stroked-button color="primary">REMOVER</button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>
